<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--suppress ALL -->
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/makeittest?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12580</property>

        <!-- 每个数据库都有1个，针对特定的关系型数据库生成优化的SQL -->
        <property name="dialect">org.hibernate.dialect.SQLServer2008Dialect</property>

        <!-- 设置默认的数据库连接池 -->
        <property name="connection.pool_size">5</property>

        <!-- 显示SQL -->
        <property name="show_sql">true</property>

        <!-- 格式化SQL -->
        <property name="format_sql">true</property>

        <!-- 根据schema更新数据表的工具 -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.makeIt.bean.Boke"/>
        <mapping resource="com/makeIt/bean/Boke.hbm.xml"/>
        <mapping class="com.makeIt.bean.User"/>
        <mapping resource="com/makeIt/bean/User.hbm.xml"/>

    </session-factory>
</hibernate-configuration>